# Default ignored files
/shelf/
/workspace.xml
# Ignore Maven build output
target/
interview/target/

# Logs
*.log

# IDE
.idea/
*.iml
*.class

# OS-specific
.DS_Store

# Ignore specific files
interview/mvnw
interview/mvnw.cmd

# Ignore specific directories
interview/target/
notification/.mvn/

# Ignore JAR files
*.jar
